In [2]:
import random,statistics

# GENERATE RANDOM
nilaiTugas = []
for i in range(250):
    nilaiTugas.append(random.randrange(1,100,1))

print(nilaiTugas)

# TAMPILKAN:
# ganjil
# nilai > 70
# standar deviasi
# maksimum
# minimum
# modus

[62, 99, 35, 22, 50, 67, 14, 23, 14, 13, 14, 47, 68, 42, 87, 7, 95, 27, 57, 86, 91, 26, 96, 25, 9, 7, 34, 90, 48, 24, 14, 8, 7, 36, 64, 40, 53, 87, 85, 98, 77, 17, 45, 44, 30, 65, 69, 30, 22, 20, 33, 94, 10, 14, 28, 27, 17, 71, 65, 22, 14, 92, 78, 68, 88, 67, 43, 99, 6, 8, 35, 29, 33, 2, 64, 88, 9, 33, 33, 24, 49, 77, 10, 2, 34, 42, 52, 80, 74, 83, 24, 23, 21, 94, 86, 68, 7, 53, 96, 18, 55, 14, 18, 83, 2, 87, 3, 98, 74, 39, 66, 73, 86, 72, 20, 7, 10, 96, 14, 70, 93, 89, 33, 60, 51, 96, 91, 25, 7, 51, 22, 82, 61, 90, 62, 64, 53, 75, 67, 76, 59, 86, 13, 11, 53, 87, 54, 85, 84, 35, 38, 82, 22, 28, 48, 13, 32, 6, 69, 13, 96, 87, 40, 90, 9, 9, 20, 63, 19, 7, 57, 28, 88, 21, 80, 7, 38, 13, 12, 93, 62, 71, 15, 63, 28, 68, 18, 47, 38, 81, 29, 62, 10, 58, 82, 43, 92, 29, 3, 53, 70, 2, 98, 11, 50, 40, 94, 99, 19, 47, 45, 17, 69, 79, 41, 97, 20, 53, 91, 92, 74, 55, 63, 60, 90, 24, 98, 34, 48, 4, 80, 98, 98, 57, 74, 67, 58, 55, 34, 23, 12, 95, 28, 56, 76, 80, 90, 40, 24, 35]

In [3]:
#menampilkan nilai ganjil
print("#Nilai ganjil pada bilangan random:")
for i in nilaiTugas:
	if i%2 > 0:
		print(i)

#Nilai ganjil pada bilangan random:
99
35
67
23
13
47
87
7
95
27
57
91
25
9
7
7
53
87
85
77
17
45
65
69
33
27
17
71
65
67
43
99
35
29
33
9
33
33
49
77
83
23
21
7
53
55
83
87
3
39
73
7
93
89
33
51
91
25
7
51
61
53
75
67
59
13
11
53
87
85
35
13
69
13
87
9
9
63
19
7
57
21
7
13
93
71
15
63
47
81
29
43
29
3
53
11
99
19
47
45
17
69
79
41
97
53
91
55
63
57
67
55
23
95
35

In [4]:
#menampilkan nilai ganjil
x=0
for i in nilaiTugas:
	if i > 70:
		x=x+1
print("nilai random yang lebih dari 70 ada",x)

nilai random yang lebih dari 70 ada 74

In [5]:
#calculating standard deviation
import math
#looking for mean
i_sum=0
for i in nilaiTugas:
	i_sum=i_sum+i
i_mean = i_sum / len(nilaiTugas)
print("mean of nilaiTugas is:",i_mean)

#deviation formula
d_sum = 0
for i in nilaiTugas:
	d_sum = d_sum+((i-i_mean)**2)
#print(d_sum)

#final formula
standard_deviation= math.sqrt(d_sum/len(nilaiTugas))
print("standard deviation that has been calculated is",standard_deviation)

mean of nilaiTugas is: 49.692
standard deviation that has been calculated is 29.9988855793011

In [6]:
#looking for maximum and minimum value
#maximum
n_last = 0
n_max = 0
for n in nilaiTugas:
    if n > n_last:
        n_max = n
        n_last = n
print(n_max)
#minimum
n_last = 100000
n_min = 0
for n in nilaiTugas:
    if n < n_last:
        n_min = n
        n_last = n
print(n_min)

99
2

In [7]:
#looking for mode (failed)
print(statistics.mode(nilaiTugas))

StatisticsError: no unique mode; found 2 equally common values

In [ ]:
#Tugas Word Count

In [8]:
paragraf = "Barcelona berhasil merebut posisi puncak klasemen La Liga Spanyol seusai menang 4-2 atas Sevilla pada pertandingan pekan kesembilan di Stadion Camp Nou, Sabtu (20/10/2018) atau Minggu dini hari WIB. Barcelona membuka keunggulan pada menit ke-2 melalui gol yang dicetak oleh Philippe Coutinho. Lionel Messi menggandakan keunggulan Barcelona, 10 menit berselang.  Namun, nahas bagi Barcelona, karena Messi harus ditarik keluar pada menit ke-26 setelah mengalami cedera. Tanpa Messi, skor 2-0 bertahan hingga babak pertama berakhir."
paragraf = paragraf.replace("/"," ")
paragraf = paragraf.replace("("," ")
paragraf = paragraf.replace(")"," ")
paragraf = paragraf.replace("-"," ")
print(paragraf.split())

['Barcelona', 'berhasil', 'merebut', 'posisi', 'puncak', 'klasemen', 'La', 'Liga', 'Spanyol', 'seusai', 'menang', '4', '2', 'atas', 'Sevilla', 'pada', 'pertandingan', 'pekan', 'kesembilan', 'di', 'Stadion', 'Camp', 'Nou,', 'Sabtu', '20', '10', '2018', 'atau', 'Minggu', 'dini', 'hari', 'WIB.', 'Barcelona', 'membuka', 'keunggulan', 'pada', 'menit', 'ke', '2', 'melalui', 'gol', 'yang', 'dicetak', 'oleh', 'Philippe', 'Coutinho.', 'Lionel', 'Messi', 'menggandakan', 'keunggulan', 'Barcelona,', '10', 'menit', 'berselang.', 'Namun,', 'nahas', 'bagi', 'Barcelona,', 'karena', 'Messi', 'harus', 'ditarik', 'keluar', 'pada', 'menit', 'ke', '26', 'setelah', 'mengalami', 'cedera.', 'Tanpa', 'Messi,', 'skor', '2', '0', 'bertahan', 'hingga', 'babak', 'pertama', 'berakhir.']

In [9]:
#Calcuate each word quantity
splitted = paragraf.split() #splitting paragraph up as word
as_dictionary = set(splitted) #result of splitted (word entities)
# print(as_dictionary)
n = {} #buffer
for i in as_dictionary:
    n[i] = splitted.count(i)
n

{'seusai': 1,
 'Sevilla': 1,
 'Tanpa': 1,
 'menang': 1,
 '4': 1,
 'Coutinho.': 1,
 'cedera.': 1,
 'kesembilan': 1,
 'skor': 1,
 'keunggulan': 2,
 'menit': 3,
 'menggandakan': 1,
 'posisi': 1,
 'Minggu': 1,
 'hari': 1,
 'setelah': 1,
 'Liga': 1,
 'hingga': 1,
 'melalui': 1,
 'merebut': 1,
 '0': 1,
 'Namun,': 1,
 'nahas': 1,
 'Barcelona': 2,
 'ke': 2,
 'gol': 1,
 'Messi': 2,
 '20': 1,
 'dini': 1,
 'karena': 1,
 'pertandingan': 1,
 'mengalami': 1,
 'La': 1,
 'Philippe': 1,
 'WIB.': 1,
 '2018': 1,
 'yang': 1,
 'klasemen': 1,
 'pekan': 1,
 'keluar': 1,
 'babak': 1,
 'dicetak': 1,
 'bertahan': 1,
 'pada': 3,
 'Nou,': 1,
 'pertama': 1,
 'Stadion': 1,
 'membuka': 1,
 'Lionel': 1,
 'Sabtu': 1,
 'ditarik': 1,
 'oleh': 1,
 'berakhir.': 1,
 '26': 1,
 'harus': 1,
 'Messi,': 1,
 'di': 1,
 'Barcelona,': 2,
 'atau': 1,
 'atas': 1,
 'bagi': 1,
 '10': 2,
 '2': 3,
 'Spanyol': 1,
 'berhasil': 1,
 'Camp': 1,
 'puncak': 1,
 'berselang.': 1}