In [2]:
#DISABLE this timer to look the output
# class timeit():
#     from datetime import datetime
#     def __enter__(self):
#         self.tic = self.datetime.now()
#     def __exit__(self, *args, **kwargs):
#         print('runtime: {}'.format(self.datetime.now() - self.tic))
#############TIMER#########################        
        
#Import data and giving header
#folderfile listing
from os import listdir
from os.path import isfile, join
import pandas as pd

folder_id = '/home/makino/Documents/Digitalent scholarship/Git-link/gdelt-project/DATA_GDELT/03/' #Tempat Folder DATA
files = [f for f in listdir(folder_id) if isfile(join(folder_id, f))]
print(files)

for berkas in files: 
    # Important: If your ID0000.tsv contains header, you can delete the header
    df_satuan = pd.read_csv(folder_id + berkas, delimiter = "\t", encoding = 'latin-1',error_bad_lines=False, 
                       header=None, low_memory=False,
                       names = ["GlobalEventId", "sqldate", "MonthYear","Year","FractionDate",
                               "Actor1Code","Actor1Name","Actor1CountryCode","Actor1KnownGroupCode",
                               "Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code",
                               "Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","Actor2Code",
                               "Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode",
                               "Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code",
                               "Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode",
                               "QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles",
                               "AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode",
                               "Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID",
                               "Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code",
                               "Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type",
                               "ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code",
                               "ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED",
                               "SOURCEURL"]) # melihat sampel isi data
    #Filtering
    pd.DataFrame(df_satuan[df_satuan.ActionGeo_CountryCode == 'ID']).to_csv('DATA/data_id.csv', index=False, header=None, mode='a')
    #note: file DATA/data_id.csv will be appended by each loop. delete if want to restart the programme
    print('Extracted ' + berkas)

######TIMER######################
# with timeit():
#     # your code, e.g., 
#     print(sum(range(int(1e7))))

['20150328.export.CSV', '20150321.export.CSV', '20150330.export.CSV', '20150304.export.CSV', '20150331.export.CSV', '20150329.export.CSV', '20150319.export.CSV', '20150302.export.CSV', '20150326.export.CSV', '20150312.export.CSV', '20150307.export.CSV', '20150318.export.CSV', '20150310.export.CSV', '20150305.export.CSV', '20150311.export.CSV', '20150313.export.CSV', '20150301.export.CSV', '20150309.export.CSV', '20150317.export.CSV', '20150324.export.CSV', '20150322.export.CSV', '20150303.export.CSV', '20150316.export.CSV', '20150323.export.CSV', '20150306.export.CSV', '20150308.export.CSV', '20150325.export.CSV', '20150314.export.CSV', '20150320.export.CSV', '20150315.export.CSV', '20150327.export.CSV']
Extracted 20150328.export.CSV
Extracted 20150321.export.CSV
Extracted 20150330.export.CSV
Extracted 20150304.export.CSV
Extracted 20150331.export.CSV
Extracted 20150329.export.CSV
Extracted 20150319.export.CSV
Extracted 20150302.export.CSV
Extracted 20150326.export.CSV
Extracted 20150312.export.CSV
Extracted 20150307.export.CSV
Extracted 20150318.export.CSV
Extracted 20150310.export.CSV
Extracted 20150305.export.CSV
Extracted 20150311.export.CSV
Extracted 20150313.export.CSV
Extracted 20150301.export.CSV
Extracted 20150309.export.CSV
Extracted 20150317.export.CSV
Extracted 20150324.export.CSV
Extracted 20150322.export.CSV
Extracted 20150303.export.CSV
Extracted 20150316.export.CSV
Extracted 20150323.export.CSV
Extracted 20150306.export.CSV
Extracted 20150308.export.CSV
Extracted 20150325.export.CSV
Extracted 20150314.export.CSV
Extracted 20150320.export.CSV
Extracted 20150315.export.CSV
Extracted 20150327.export.CSV

In [11]:
# import pandas as pd
# pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', -1)
#TEST READ OUTPUT
data_raw_id = pd.read_csv('DATA/data_id.csv', delimiter = ",", encoding = 'latin-1',error_bad_lines=False, 
                       header=None, low_memory=False,
                       names = ["GlobalEventId", "sqldate", "MonthYear","Year","FractionDate",
                               "Actor1Code","Actor1Name","Actor1CountryCode","Actor1KnownGroupCode",
                               "Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code",
                               "Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","Actor2Code",
                               "Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode",
                               "Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code",
                               "Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode",
                               "QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles",
                               "AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode",
                               "Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID",
                               "Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code",
                               "Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type",
                               "ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code",
                               "ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED",
                               "SOURCEURL"])
# data_raw_id
data_om = data_raw_id[data_raw_id.GoldsteinScale > 5]
data_om['SOURCEURL']

3        http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
4        http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
5        http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
6        http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
10       http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
11       http://www.theeagle.com/news/world/about-fishermen-stranded-on-indonesian-islands/article_b8f8054b-d213-5f86-a0b8-b2d40fec83e5.html
14       http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
15       http://www.ctpost.com/news/crime/article/About-4-000-fishermen-stranded-on-Indonesian-6164107.php
16       http://www.theeagle.com/news/world/about-fishermen-stranded-on-indonesian-islands/article_b8f8054b-d213-5f86-a0b8-b2d40fec83e5.html
21       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
27       http://thejakartaglobe.beritasatu.com/news/district-chief-west-java-arrested-graft-charges/
31       http://en.ce.cn/main/latest/201503/28/t20150328_4960204.shtml
35       http://thejakartaglobe.beritasatu.com/business/finance-authority-kicks-off-branchless-banking-program-rural-areas/
38       http://thejakartaglobe.beritasatu.com/business/aberdeen-start-offering-mutual-funds-q2-pending-ojks-green-light/
39       http://thejakartaglobe.beritasatu.com/features/senior-designers-fresh-as-ever/
40       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
42       http://thejakartaglobe.beritasatu.com/news/fortune-ranks-surabaya-mayor-risma-among-worlds-greatest-leaders/
47       http://thejakartaglobe.beritasatu.com/features/senior-designers-fresh-as-ever/
48       http://thejakartaglobe.beritasatu.com/features/senior-designers-fresh-as-ever/
49       http://thejakartaglobe.beritasatu.com/features/senior-designers-fresh-as-ever/
50       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
52       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
53       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
54       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
55       http://thejakartaglobe.beritasatu.com/business/sinar-mas-inks-loan-deal-chinese-banks/
63       http://thejakartaglobe.beritasatu.com/business/flush-hajj-money-indonesia-islamic-banks-see-loans-tripling/
82       http://thejakartaglobe.beritasatu.com/news/district-chief-west-java-arrested-graft-charges/
86       http://www.portstephensexaminer.com.au/story/2975334/triggs-defends-350000-compensation-recommendation-for-refugee-who-killed-wife/?cs=4152
88       http://kdwn.com/2015/03/27/about-4000-fishermen-stranded-on-indonesian-islands/
93       http://thejakartaglobe.beritasatu.com/business/aberdeen-start-offering-mutual-funds-q2-pending-ojks-green-light/
                                                               ...
38320    http://www.sepakbola.com/2015/03/soal-penjualan-de-bruyne-ke-wolfsburg-ini-penilaian-hazard
38321    http://fis.com/fis/worldnews/search_brief.asp?l=e&id=75470&ndb=1
38322    http://fis.com/fis/worldnews/search_brief.asp?l=e&id=75470&ndb=1
38329    http://www.halesowennews.co.uk/newsxtra/travel/11885681.display/
38330    http://www.halesowennews.co.uk/newsxtra/travel/11885681.display/
38352    http://www.rferl.org/content/islamic-state-make-jihad-not-love-militant-future-wife/26924350.html
38361    http://www.manilatimes.net/dfa-not-giving-up-to-save-doomed-pinay/172390/
38365    http://www.manilatimes.net/dfa-not-giving-up-to-save-doomed-pinay/172390/
38387    http://www.travelpod.com/travel-blog-entries/haplessmis151/1/1427481721/tpod.html
38388    http://www.newscientist.com/article/mg22530140.200-natural-disaster-amnesia-threats-we-choose-to-forget.html?cmpid=RSS%7CNSNS%7C2012-GLOBAL%7Conline-news
38389    http://www.newscientist.com/article/mg22530140.200-natural-disaster-amnesia-threats-we-choose-to-forget.html?cmpid=RSS%7CNSNS%7C2012-GLOBAL%7Conline-news
38391    http://www.newscientist.com/article/mg22530140.200-natural-disaster-amnesia-threats-we-choose-to-forget.html?cmpid=RSS%7CNSNS%7C2012-GLOBAL%7Conline-news
38392    http://www.newscientist.com/article/mg22530140.200-natural-disaster-amnesia-threats-we-choose-to-forget.html?cmpid=RSS%7CNSNS%7C2012-GLOBAL%7Conline-news
38394    http://www.legalbusinessonline.com/ihs/indonesia-ihls-2015
38395    http://www.legalbusinessonline.com/ihs/indonesia-ihls-2015
38404    http://www.thefrontierpost.com/article/274754/taking-fright-and-flight/
38416    http://www.fijitimes.com/story.aspx?id=299840
38446    http://usa.chinadaily.com.cn/china/2015-03/28/content_19934784.htm
38451    http://hosted2.ap.org/APDEFAULT/cae69a7523db45408eeb2b3a98c0c9c5/Article_2015-03-27-Seafood%20from%20Slaves/id-8d9753f411b34146ae7f1ebab2ca84c2
38452    http://www.startribune.com/world/297846411.html
38453    http://www.startribune.com/world/297846411.html
38454    http://www.startribune.com/world/297846411.html
38457    http://hosted2.ap.org/APDEFAULT/cae69a7523db45408eeb2b3a98c0c9c5/Article_2015-03-27-Seafood%20from%20Slaves/id-8d9753f411b34146ae7f1ebab2ca84c2
38458    http://www.washingtonpost.com/world/asia_pacific/about-4000-fishermen-stranded-on-indonesian-islands/2015/03/27/08b6d020-d4d6-11e4-8b1e-274d670aa9c9_story.html
38460    http://www.startribune.com/world/297846411.html
38461    http://www.startribune.com/world/297846411.html
38462    http://hosted2.ap.org/APDEFAULT/cae69a7523db45408eeb2b3a98c0c9c5/Article_2015-03-27-Seafood%20from%20Slaves/id-8d9753f411b34146ae7f1ebab2ca84c2
38463    http://www.washingtonpost.com/world/asia_pacific/about-4000-fishermen-stranded-on-indonesian-islands/2015/03/27/08b6d020-d4d6-11e4-8b1e-274d670aa9c9_story.html
38464    http://www.chinadaily.com.cn/china/2015-03/28/content_19934779.htm
38465    http://wlns.com/ap/about-4000-fishermen-stranded-on-indonesian-islands/
Name: SOURCEURL, Length: 4351, dtype: object

In [ ]:
###dibawah ini nggek dipake###
data_raw_id = pd.read_csv('DATA/data_id.csv', delimiter = ",", encoding = 'latin-1',error_bad_lines=False, 
                       header=None, low_memory=False,
                       names = ["GlobalEventId", "sqldate", "MonthYear","Year","FractionDate","Actor1Code","Actor1Name","Actor1CountryCode","ctor1KnownGroupCode", "Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code", "Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","ctor2Code","Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode","Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code","Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode", "QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles", "AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode","Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID","Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code",
                               "Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type",
                               "ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code",
                               "ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED",
                               "SOURCEURL"])

In [9]:
import newspaper
newspaper.build('https://news.detik.com/berita/d-4286960/keluarga-awak-pesawat-lion-air-pk-lqp-akan-disantuni-usd-100000')

In [17]:
# data_penumpang=data_raw.iloc[0:34]
# data_penumpang_pertahun = data_penumpang.groupby(['TAHUN','BULAN'])
#data_penumpang = data_penumpang_pertahun[['PENUMPANG_MASUK','PENUMPANG_KELUAR']]
###################################
#PREPROCESSING
#EXTRACTING DATA
data_p_2012 = data_raw[data_raw.TAHUN == 2012][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2013 = data_raw[data_raw.TAHUN == 2013][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2014 = data_raw[data_raw.TAHUN == 2014][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
#Stat each year

print("#Data Pada 2012#")
print(data_p_2012[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2013#")
print(data_p_2013[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2014#")
print(data_p_2014[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))

#Data Pada 2012#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               12                12
mean            200779            423137
std              35301             31803
min             150203            376304
25%             184390            410436
50%             192115            420388
75%             213197            437530
max             264238            502725
#Data Pada 2013#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               12                12
mean            194505            194505
std              25802             25802
min             150203            150203
25%             187803            187803
50%             190126            190126
75%             194876            194876
max             264238            264238
#Data Pada 2014#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               11                11
mean            191656            356727
std              45066             60234
min             124983            271615
25%             165772            324039
50%             179209            351936
75%             205343            369318
max             271335            507731

In [31]:
# import pandas as pd
df = pd.read_html('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20170812')
data = pd.DataFrame(df)
data.to_csv('test.csv', index=False)

In [12]:
pd.DataFrame(pd.read_html('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20170812')).to_csv('test.csv', index=False,header=False)
pd.read_csv('test.csv', delimiter = ', ""')

In [ ]:

from newspaper import Article 
  
#A new article from TOI 
url = "https://www.bbc.com/news/business-46088852"
  
#For different language newspaper refer above table 
toi_article = Article(url, language="en") # en for English 
  
#To download the article 
toi_article.download() 
  
#To parse the article 
toi_article.parse() 
  
#To perform natural language processing ie..nlp 
toi_article.nlp() 
  
#To extract title 
print("Article's Title:") 
print(toi_article.title) 
print("n") 
  
#To extract text 
print("Article's Text:") 
print(toi_article.text) 
print("n") 
  
#To extract summary 
print("Article's Summary:") 
print(toi_article.summary) 
print("n") 
  
#To extract keywords 
print("Article's Keywords:") 
print(toi_article.keywords)