In [48]:
#DISABLE this timer to look the output
# class timeit():
#     from datetime import datetime
#     def __enter__(self):
#         self.tic = self.datetime.now()
#     def __exit__(self, *args, **kwargs):
#         print('runtime: {}'.format(self.datetime.now() - self.tic))
#############TIMER#########################        
        
#Import data and giving header
import pandas as pd
data_raw = pd.read_csv('DATA/20150101.export.CSV', delimiter = "\t", encoding = 'latin-1',error_bad_lines=False, 
                       header=None, low_memory=False,
                       names = ["GlobalEventId", "sqldate", "MonthYear","Year","FractionDate",
                               "Actor1Code","Actor1Name","Actor1CountryCode","ctor1KnownGroupCode",
                               "Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code",
                               "Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","ctor2Code",
                               "Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode",
                               "Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code",
                               "Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode",
                               "QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles",
                               "AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode",
                               "Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID",
                               "Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code",
                               "Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type",
                               "ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code",
                               "ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED",
                               "SOURCEURL"])

#localizing datafor selection
data = data_raw[data_raw.ActionGeo_CountryCode == 'ID']
#exporting new sorted data
data_id = pd.DataFrame(data)
data_id.to_csv('DATA/data_id.csv', index=False, header=None)
data_raw
#done

######TIMER######################
# with timeit():
#     # your code, e.g., 
#     print(sum(range(int(1e7))))

,GlobalEventId,sqldate,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,ctor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,330163373,20050103,200501,2005,2005.0082,BUS,INVESTOR,NaN,NaN,NaN,...,NaN,2,"Alaska, United States",US,USAK,61.38500,-152.26800,AK,20150101,http://seekingalpha.com/article/2789985-matson...
1,330163374,20050103,200501,2005,2005.0082,BUS,INVESTOR,NaN,NaN,NaN,...,NaN,1,Sweden,SW,SW,62.00000,15.00000,SW,20150101,http://seekingalpha.com/article/2789985-matson...
2,330163375,20050103,200501,2005,2005.0082,BUS,COMPANY,NaN,NaN,NaN,...,PK,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
3,330163376,20050103,200501,2005,2005.0082,BUS,COMPANY,NaN,NaN,NaN,...,-3378435,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
4,330163377,20050103,200501,2005,2005.0082,CAN,CANADA,CAN,NaN,NaN,...,-570760,4,"Ottawa, Ontario, Canada",CA,CA08,45.41670,-75.70000,-570760,20150101,http://ottawacitizen.com/news/national/daniell...
5,330163378,20050103,200501,2005,2005.0082,CAN,CANADA,CAN,NaN,NaN,...,US,4,"Ottawa, Ontario, Canada",CA,CA08,45.41670,-75.70000,-570760,20150101,http://ottawacitizen.com/news/national/daniell...
6,330163379,20050103,200501,2005,2005.0082,EDU,UNIVERSITY,NaN,NaN,NaN,...,PK,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
7,330163380,20050103,200501,2005,2005.0082,EDU,UNIVERSITY,NaN,NaN,NaN,...,-3378435,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
8,330163381,20050103,200501,2005,2005.0082,EDU,UNIVERSITY,NaN,NaN,NaN,...,PK,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
9,330163382,20050103,200501,2005,2005.0082,EDU,UNIVERSITY,NaN,NaN,NaN,...,-3378435,4,"Kabul, Kabol, Afghanistan",AF,AF13,34.51670,69.18330,-3378435,20150101,http://nation.com.pk/international/02-Jan-2015...
10,330163383,20050103,200501,2005,2005.0082,EUR,EUROPE,EUR,NaN,NaN,...,-3250083,4,"Bangkok, Krung Thep Mahanakhon, Thailand",TH,TH40,13.75000,100.51700,-3250083,20150101,http://www.bangkokpost.com/lifestyle/food-and-...
11,330163384,20050103,200501,2005,2005.0082,LEG,CONGRESS,NaN,NaN,NaN,...,531871,3,"Washington, District of Columbia, United States",US,USDC,38.89510,-77.03640,531871,20150101,http://www.livingstondaily.com/story/news/poli...
12,330163385,20050103,200501,2005,2005.0082,THA,BANGKOK,THA,NaN,NaN,...,-3250083,4,"Bangkok, Krung Thep Mahanakhon, Thailand",TH,TH40,13.75000,100.51700,-3250083,20150101,http://www.bangkokpost.com/lifestyle/food-and-...
13,330163386,20050103,200501,2005,2005.0082,THA,BANGKOK,THA,NaN,NaN,...,-3250083,4,"Bangkok, Krung Thep Mahanakhon, Thailand",TH,TH40,13.75000,100.51700,-3250083,20150101,http://www.bangkokpost.com/lifestyle/food-and-...
14,330163387,20050103,200501,2005,2005.0082,USAEDU,MARYLAND,USA,NaN,NaN,...,NaN,4,"Peshawar, North-West Frontier, Pakistan",PK,PK03,34.00780,71.57330,-2771364,20150101,http://www.leaderpost.com/news/world/kyle+matt...
15,330163389,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,-3396160,4,"Yahya Khel, Paktika, Afghanistan",AF,AF29,32.93740,68.64620,-3396160,20150101,http://www.globalpost.com/dispatch/news/xinhua...
16,330163390,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,11430719,4,"Canberra, Australian Capital Territory, Australia",AS,AS01,-35.28330,149.21700,-1563952,20150101,http://www.smh.com.au/act-news/summernats-worl...
17,330163391,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,11430719,4,"Warragamba, New South Wales, Australia",AS,AS02,-33.89190,150.60500,11430719,20150101,http://www.smh.com.au/act-news/summernats-worl...
18,330163392,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,1098541,3,"Stillwater, Oklahoma, United States",US,USOK,36.11560,-97.05840,1098541,20150101,http://www.chron.com/news/article/Study-Stillw...
19,330163393,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,OK,3,"Stillwater, Oklahoma, United States",US,USOK,36.11560,-97.05840,1098541,20150101,http://www.chron.com/news/article/Study-Stillw...
20,330163396,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,-1924465,4,"Shanghai, Shanghai, China",CH,CH23,31.22220,121.45800,-1924465,20150101,http://www.outlookindia.com/news/article/New-Y...
21,330163397,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,351199,3,"Atlanta Medical Center, Georgia, United States",US,USGA,33.76260,-84.37300,351199,20150101,http://www.skynews.com.au/news/world/2015/01/0...
22,330163398,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,-1924465,4,"Shanghai, Shanghai, China",CH,CH23,31.22220,121.45800,-1924465,20150101,http://www.outlookindia.com/news/article/New-Y...
23,330163399,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,1372320,3,"Arlington, Texas, United States",US,USTX,32.73570,-97.10810,1372320,20150101,http://www.rawstory.com/rs/2015/01/gun-toting-...
24,330163400,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,413659,3,"Minooka, Illinois, United States",US,USIL,41.45530,-88.26170,413659,20150101,http://www.morrisdailyherald.com/2014/12/30/mi...
25,330163401,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,IL,2,"Illinois, United States",US,USIL,40.33630,-89.00220,IL,20150101,http://www.morrisdailyherald.com/2014/12/30/mi...
26,330163402,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,531871,3,"Washington, District of Columbia, United States",US,USDC,38.89510,-77.03640,531871,20150101,http://www.washingtonpost.com/local/dc-politic...
27,330163404,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,-3396160,4,"Yahya Khel, Paktika, Afghanistan",AF,AF29,32.93740,68.64620,-3396160,20150101,http://www.globalpost.com/dispatch/news/xinhua...
28,330163405,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,-2767043,4,"Lahore, Punjab, Pakistan",PK,PK04,31.54970,74.34360,-2767043,20150101,http://www.thenews.com.pk/Todays-News-5-293684...
29,330163406,20140101,201401,2014,2014.0027,NaN,NaN,NaN,NaN,NaN,...,FR,1,Ireland,EI,EI,53.00000,-8.00000,EI,20150101,http://www.independent.ie/irish-news/news/guin...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86981,330250816,20150102,201501,2015,2015.0055,MYS,MALAYSIAN,MYS,NaN,NaN,...,-2698521,4,"Changi, Singapore (general), Singapore",SN,SN00,1.34167,103.96400,-73644,20150101,http://www.mysinchew.com/node/104699
86982,330250817,20150102,201501,2015,2015.0055,MYS,MALAYSIAN,MYS,NaN,NaN,...,MY,1,Malaysia,MY,MY,2.50000,112.50000,MY,20150101,http://www.mysinchew.com/node/104699
86983,330250818,20150102,201501,2015,2015.0055,MYS,MALAYSIAN,MYS,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.75100,-2698521,20150101,http://www.mysinchew.com/node/104699
86984,330250819,20150102,201501,2015,2015.0055,MYSMIL,MALAYSIAN,MYS,NaN,NaN,...,MY,1,Malaysia,MY,MY,2.50000,112.50000,MY,20150101,http://www.mysinchew.com/node/104699
86985,330250820,20150102,201501,2015,2015.0055,MYSMIL,MALAYSIAN,MYS,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.75100,-2698521,20150101,http://www.mysinchew.com/node/104699
86986,330250821,20150102,201501,2015,2015.0055,NGA,NIGERIA,NGA,NaN,NaN,...,NaN,4,"Chibok, Borno, Nigeria",NI,NI27,10.86580,12.84700,-2003729,20150101,http://thenewsnigeria.com.ng/2015/01/01/moveme...
86987,330250822,20150102,201501,2015,2015.0055,NGA,NIGERIA,NGA,NaN,NaN,...,NaN,4,"Maiduguri, Borno, Nigeria",NI,NI27,11.84640,13.16030,-2018369,20150101,http://thenewsnigeria.com.ng/2015/01/01/moveme...
86988,330250823,20150102,201501,2015,2015.0055,NOR,NORWAY,NOR,NaN,NaN,...,NaN,1,Italy,IT,IT,42.83330,12.83330,IT,20150101,http://calgaryherald.com/technology/science/th...
86989,330250824,20150102,201501,2015,2015.0055,NOR,NORWAY,NOR,NaN,NaN,...,NaN,1,Norway,NO,NO,62.00000,10.00000,NO,20150101,http://calgaryherald.com/technology/science/th...
86990,330250825,20150102,201501,2015,2015.0055,PAK,PAKISTAN,PAK,NaN,NaN,...,NaN,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.dailytimes.com.pk/national/02-Jan-2...
86991,330250826,20150102,201501,2015,2015.0055,PAK,ISLAMABAD,PAK,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.dawn.com/news/1154426/nawaz-calls-p...
86992,330250827,20150102,201501,2015,2015.0055,PAK,ISLAMABAD,PAK,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.pakistantribe.com/story/27324/pm-na...
86993,330250828,20150102,201501,2015,2015.0055,PAK,ISLAMABAD,PAK,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.dawn.com/news/1154426/nawaz-calls-p...
86994,330250829,20150102,201501,2015,2015.0055,PAK,ISLAMABAD,PAK,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.thenews.com.pk/article-170451-PM-to...
86995,330250830,20150102,201501,2015,2015.0055,PAK,ISLAMABAD,PAK,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.thenews.com.pk/article-170451-PM-to...
86996,330250831,20150102,201501,2015,2015.0055,PRT,PORTUGAL,PRT,NaN,NaN,...,-2167973,4,"Lisbon, Lisboa, Portugal",PO,PO14,38.71670,-9.13333,-2167973,20150101,http://www.globalpost.com/dispatch/news/xinhua...
86997,330250832,20150102,201501,2015,2015.0055,PTY,PARTY LEADER,NaN,NaN,NaN,...,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,20150101,http://www.centralchronicle.com/mandate-in-jk-...
86998,330250833,20150102,201501,2015,2015.0055,PTY,PARTY LEADER,NaN,NaN,NaN,...,-2762812,4,"Islamabad, Islamabad, Pakistan",PK,PK08,33.70000,73.16670,-2762812,20150101,http://www.thenews.com.pk/article-170451-PM-to...
86999,330250834,20150102,201501,2015,2015.0055,SAU,JEDDAH,SAU,NaN,NaN,...,-3096108,4,"Jeddah, Makkah, Saudi Arabia",SA,SA14,21.51690,39.21920,-3096108,20150101,http://www.spa.gov.sa/english/details.php?id=1...
87000,330250835,20150102,201501,2015,2015.0055,SWE,SWEDEN,SWE,NaN,NaN,...,-2532413,4,"Uppsala, Uppsala Lan, Sweden",SW,SW21,59.85000,17.63330,-2532413,20150101,http://sverigesradio.se/sida/artikel.aspx?prog...
87001,330250836,20150102,201501,2015,2015.0055,SWE,SWEDEN,SWE,NaN,NaN,...,-2532413,4,"Uppsala, Uppsala Lan, Sweden",SW,SW21,59.85000,17.63330,-2532413,20150101,http://sverigesradio.se/sida/artikel.aspx?prog...
87002,330250837,20150102,201501,2015,2015.0055,USA,LOUISVILLE,USA,NaN,NaN,...,NaN,3,"Louisville, Kentucky, United States",US,USKY,38.25420,-85.75940,509453,20150101,http://www.ocmonitor.com/2015/01/01/special-we...
87003,330250838,20150102,201501,2015,2015.0055,USA,OHIO,USA,NaN,NaN,...,NaN,2,"Kentucky, United States",US,USKY,37.66900,-84.65140,KY,20150101,http://www.ocmonitor.com/2015/01/01/special-we...
87004,330250839,20150102,201501,2015,2015.0055,USA,AMERICAN,USA,NaN,NaN,...,NaN,1,United States,US,US,38.00000,-97.00000,US,20150101,http://www.hindustantimes.com/punjab/ludhiana/...
87005,330250840,20150102,201501,2015,2015.0055,USA,INDIANA,USA,NaN,NaN,...,NaN,3,"Switzerland County, Indiana, United States",US,USIN,38.83640,-85.03130,450392,20150101,http://www.vevaynewspapers.com/main.asp?Sectio...
87006,330250841,20150102,201501,2015,2015.0055,USA,UNITED STATES,USA,NaN,NaN,...,AF,1,Afghanistan,AF,AF,33.00000,65.00000,AF,20150101,http://ripr.org/post/after-years-conflict-us-m...
87007,330250842,20150102,201501,2015,2015.0055,USA,UNITED STATES,USA,NaN,NaN,...,HI,2,"Hawaii, United States",US,USHI,21.10980,-157.53100,HI,20150101,http://ripr.org/post/after-years-conflict-us-m...
87008,330250843,20150102,201501,2015,2015.0055,USA,UNITED STATES,USA,NaN,NaN,...,NY,2,"New York, United States",US,USNY,42.14970,-74.93840,NY,20150101,http://www.sfgate.com/news/article/NY-Gov-Cuom...
87009,330250844,20150102,201501,2015,2015.0055,USA,NEW YORK CITY,USA,NaN,NaN,...,NY,2,"New York, United States",US,USNY,42.14970,-74.93840,NY,20150101,http://www.sfgate.com/news/article/NY-Gov-Cuom...
87010,330250845,20150102,201501,2015,2015.0055,USAJUD,UNITED STATES,USA,NaN,NaN,...,NaN,3,"Haverhill, Massachusetts, United States",US,USMA,42.77620,-71.07730,612607,20150101,http://www.bostonherald.com/news_opinion/local...

In [46]:
#TEST READ OUTPUT
data_raw_id = pd.read_csv('DATA/data_id.csv', delimiter = ",", encoding = 'latin-1',error_bad_lines=False, 
                       header=None, low_memory=False,
                       names = ["GlobalEventId", "sqldate", "MonthYear","Year","FractionDate",
                               "Actor1Code","Actor1Name","Actor1CountryCode","ctor1KnownGroupCode",
                               "Actor1EthnicCode","Actor1Religion1Code","Actor1Religion2Code",
                               "Actor1Type1Code","Actor1Type2Code","Actor1Type3Code","ctor2Code",
                               "Actor2Name","Actor2CountryCode","Actor2KnownGroupCode","Actor2EthnicCode",
                               "Actor2Religion1Code","Actor2Religion2Code","Actor2Type1Code","Actor2Type2Code",
                               "Actor2Type3Code","IsRootEvent","EventCode","EventBaseCode","EventRootCode",
                               "QuadClass","GoldsteinScale","NumMentions","NumSources","NumArticles",
                               "AvgTone","Actor1Geo_Type","Actor1Geo_FullName","Actor1Geo_CountryCode",
                               "Actor1Geo_ADM1Code","Actor1Geo_Lat","Actor1Geo_Long","Actor1Geo_FeatureID",
                               "Actor2Geo_Type","Actor2Geo_FullName","Actor2Geo_CountryCode","Actor2Geo_ADM1Code",
                               "Actor2Geo_Lat","Actor2Geo_Long","Actor2Geo_FeatureID","ActionGeo_Type",
                               "ActionGeo_FullName","ActionGeo_CountryCode","ActionGeo_ADM1Code",
                               "ActionGeo_Lat","ActionGeo_Long","ActionGeo_FeatureID","DATEADDED",
                               "SOURCEURL"])
data_raw_id

,GlobalEventId,sqldate,MonthYear,Year,FractionDate,Actor1Code,Actor1Name,Actor1CountryCode,ctor1KnownGroupCode,Actor1EthnicCode,...,Actor2Geo_FeatureID,ActionGeo_Type,ActionGeo_FullName,ActionGeo_CountryCode,ActionGeo_ADM1Code,ActionGeo_Lat,ActionGeo_Long,ActionGeo_FeatureID,DATEADDED,SOURCEURL
0,330164345,20141202,201412,2014,2014.9096,GOV,MINISTRY,NaN,NaN,NaN,...,NaN,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.business-standard.com/article/pti-s...
1,330164412,20141202,201412,2014,2014.9096,IDN,BALI,IDN,NaN,NaN,...,-2676772,4,"Denpasar, Bali, Indonesia",ID,ID02,-8.65000,115.217,-2676772,20150101,http://www.newstalkzb.co.nz/news/crime/kiwi-fa...
2,330164803,20141225,201412,2014,2014.9726,IDN,INDONESIAN,IDN,NaN,NaN,...,10965668,4,"Terong, Nusa Tenggara Timur, Indonesia",ID,ID18,-8.49890,121.029,10965668,20150101,http://www.thejakartapost.com/news/2015/01/02/...
3,330164805,20141225,201412,2014,2014.9726,IDNMIL,INDONESIA,IDN,NaN,NaN,...,10965668,4,"Terong, Nusa Tenggara Timur, Indonesia",ID,ID18,-8.49890,121.029,10965668,20150101,http://www.thejakartapost.com/news/2015/01/02/...
4,330164806,20141225,201412,2014,2014.9726,IDNMIL,INDONESIAN,IDN,NaN,NaN,...,10965668,4,"Terong, Nusa Tenggara Timur, Indonesia",ID,ID18,-8.49890,121.029,10965668,20150101,http://www.thejakartapost.com/news/2015/01/02/...
5,330165160,20141231,201412,2014,2014.9890,NaN,NaN,NaN,NaN,NaN,...,-2690830,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.news.com.au/travel/travel-updates/f...
6,330165177,20141231,201412,2014,2014.9890,NaN,NaN,NaN,NaN,NaN,...,10290609,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
7,330165505,20141231,201412,2014,2014.9890,HLH,HOSPITAL,NaN,NaN,NaN,...,NaN,4,"Pangkalan Bun, Kalimantan Tengah, Indonesia",ID,ID13,-2.68333,111.617,-2690830,20150101,http://www.mysinchew.com/node/104705
8,330165514,20141231,201412,2014,2014.9890,IDN,INDONESIA,IDN,NaN,NaN,...,NaN,4,"Mawar, Jawa Barat, Indonesia",ID,ID30,-6.79950,108.510,10215322,20150101,http://www.jamaicaobserver.com/news/Weather-hi...
9,330165521,20141231,201412,2014,2014.9890,IDN,INDONESIA,IDN,NaN,NaN,...,10290609,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
10,330165522,20141231,201412,2014,2014.9890,IDN,INDONESIA,IDN,NaN,NaN,...,10290609,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
11,330165670,20141231,201412,2014,2014.9890,MNCSEA,AIRASIA,SEA,NaN,NaN,...,10205777,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.nationmultimedia.com/aec/Rough-seas...
12,330165671,20141231,201412,2014,2014.9890,MNCSEA,AIRASIA,SEA,NaN,NaN,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.nationmultimedia.com/aec/Rough-seas...
13,330165673,20141231,201412,2014,2014.9890,MOS,ISLAMIC,NaN,NaN,NaN,...,NaN,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
14,330165675,20141231,201412,2014,2014.9890,MOS,ISLAMIC,NaN,NaN,NaN,...,-2698521,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
15,330165676,20141231,201412,2014,2014.9890,MOS,ISLAMIC,NaN,NaN,NaN,...,10290609,4,"Desa Sawotratap, Jawa Timur, Indonesia",ID,ID08,-7.37051,112.735,10290609,20150101,http://www.thedailystar.net/black-box-recovery...
16,330165813,20141231,201412,2014,2014.9890,SGP,SINGAPORE,SGP,NaN,NaN,...,FR,4,"Kalimantan, Indonesia (general), Indonesia",ID,ID00,1.61667,109.183,-2680735,20150101,http://www.thestatesman.net/news/97413-searche...
17,330165816,20141231,201412,2014,2014.9890,SGP,SINGAPORE,SGP,NaN,NaN,...,SN,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.thestatesman.net/news/97413-searche...
18,330166585,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://cubiclane.com/2014/12/28/airasia-flight...
19,330166600,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2691858,4,"Jepara, Jawa Timur, Indonesia",ID,ID08,-7.23920,112.722,10191357,20150101,http://www.thejakartapost.com/news/2015/01/02/...
20,330166655,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.ctnow.com/news/nationworld/chi-aira...
21,330166659,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,MY,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.ctnow.com/news/nationworld/chi-aira...
22,330167064,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2703546,4,"Yogyakarta, Yogyakarta, Indonesia",ID,ID10,-7.78278,110.361,-2703546,20150101,http://www.thejakartapost.com/news/2015/01/02/...
23,330167256,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2681575,4,"Karimata Strait, Indonesia (general), Indonesia",ID,ID00,-2.08333,108.667,-2681575,20150101,http://www.thejakartapost.com/news/2015/01/01/...
24,330167363,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.theborneopost.com/2015/01/02/police...
25,330167457,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.theguardian.com/world/2015/jan/01/a...
26,330168377,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.dw.de/new-years-fireworks-accidents...
27,330168669,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.bdtonline.com/news/weather-hinders-...
28,330168670,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.newsmax.com/GlobalTalk/indonesia-ai...
29,330168675,20150101,201501,2015,2015.0027,NaN,NaN,NaN,NaN,NaN,...,CA,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://globalnews.ca/news/1749739/bad-weather-...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1721,330249030,20150101,201501,2015,2015.0027,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,...,NaN,4,"Pangkalan Bun, Kalimantan Tengah, Indonesia",ID,ID13,-2.68333,111.617,-2690830,20150101,http://www.foxnews.com/world/2015/01/01/unbeli...
1722,330249065,20150101,201501,2015,2015.0027,USAMED,WALL STREET JOURNAL,USA,NaN,NaN,...,NaN,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.themalaymailonline.com/malaysia/art...
1723,330249168,20150101,201501,2015,2015.0027,USAMED,REUTERS,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.themalaysianinsider.com/malaysia/ar...
1724,330249169,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.timesunion.com/news/world/article/I...
1725,330249170,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Pangkalan Bun, Kalimantan Tengah, Indonesia",ID,ID13,-2.68333,111.617,-2690830,20150101,http://www.msn.com/en-us/news/world/weather-wo...
1726,330249171,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.msnewsnow.com/story/27741427/airasi...
1727,330249172,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2690830,4,"Pangkalan Bun, Kalimantan Tengah, Indonesia",ID,ID13,-2.68333,111.617,-2690830,20150101,http://kdhnews.com/news/ap/weather-worries-rem...
1728,330249173,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.scnow.com/news/headlines/article_82...
1729,330249175,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.fayobserver.com/news/nation/st-of-b...
1730,330249176,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.beloitdailynews.com/news/world/aira...
1731,330249177,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2679652,4,"Jakarta, Jakarta Raya, Indonesia",ID,ID04,-6.17444,106.829,-2679652,20150101,http://www.kpho.com/story/27741427/weather-wor...
1732,330249178,20150101,201501,2015,2015.0027,USAMED,WALL STREET JOURNAL,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.themalaymailonline.com/malaysia/art...
1733,330249179,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.firstpost.com/world/airasia-live-se...
1734,330249180,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.firstpost.com/world/airasia-live-se...
1735,330249247,20150101,201501,2015,2015.0027,USAMED,REUTERS,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.emirates247.com/lifestyle/travel/ai...
1736,330249248,20150101,201501,2015,2015.0027,USAMED,REUTERS,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.emirates247.com/lifestyle/travel/ai...
1737,330249249,20150101,201501,2015,2015.0027,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://mic.com/articles/107548/first-body-from...
1738,330249250,20150101,201501,2015,2015.0027,USAMED,THE ASSOCIATED PRESS,USA,NaN,NaN,...,-2690830,4,"Pangkalan Bun, Kalimantan Tengah, Indonesia",ID,ID13,-2.68333,111.617,-2690830,20150101,http://www.bendbulletin.com/nation/2739022-151...
1739,330249251,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.washingtonpost.com/business/weather...
1740,330249252,20150101,201501,2015,2015.0027,USAMED,ASSOCIATED PRESS,USA,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.wsvn.com/story/27726969/bodies-foun...
1741,330249515,20150101,201501,2015,2015.0027,USAMIL,A US,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.firstpost.com/world/airasia-live-fi...
1742,330249516,20150101,201501,2015,2015.0027,USAMIL,A US,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.firstpost.com/world/airasia-live-se...
1743,330249518,20150101,201501,2015,2015.0027,USAMIL,A US,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.firstpost.com/world/airasia-live-fi...
1744,330249519,20150101,201501,2015,2015.0027,USAMIL,A US,USA,NaN,NaN,...,-2674017,4,"Borneo, Indonesia (general), Indonesia",ID,ID00,1.00000,114.000,-2674017,20150101,http://www.firstpost.com/world/airasia-live-se...
1745,330249881,20150101,201501,2015,2015.0027,VNMGOV,NGUYEN TAN DUNG,VNM,NaN,NaN,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.vietnamtribune.com/index.php/sid/22...
1746,330249882,20150101,201501,2015,2015.0027,VNMGOV,NGUYEN TAN DUNG,VNM,NaN,NaN,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.vietnamtribune.com/index.php/sid/22...
1747,330249883,20150101,201501,2015,2015.0027,VNMGOV,NGUYEN TAN DUNG,VNM,NaN,NaN,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.vietnamtribune.com/index.php/sid/22...
1748,330250621,20150101,201501,2015,2015.0027,paa,PAPUAN,NaN,NaN,paa,...,ID,1,Indonesia,ID,ID,-5.00000,120.000,ID,20150101,http://www.independent.com/news/2015/jan/01/sp...
1749,330250818,20150102,201501,2015,2015.0055,MYS,MALAYSIAN,MYS,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.mysinchew.com/node/104699
1750,330250820,20150102,201501,2015,2015.0055,MYSMIL,MALAYSIAN,MYS,NaN,NaN,...,-2698521,4,"Surabaya, Jawa Timur, Indonesia",ID,ID08,-7.24917,112.751,-2698521,20150101,http://www.mysinchew.com/node/104699

In [17]:
# data_penumpang=data_raw.iloc[0:34]
# data_penumpang_pertahun = data_penumpang.groupby(['TAHUN','BULAN'])
#data_penumpang = data_penumpang_pertahun[['PENUMPANG_MASUK','PENUMPANG_KELUAR']]
###################################
#PREPROCESSING
#EXTRACTING DATA
data_p_2012 = data_raw[data_raw.TAHUN == 2012][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2013 = data_raw[data_raw.TAHUN == 2013][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2014 = data_raw[data_raw.TAHUN == 2014][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
#Stat each year

print("#Data Pada 2012#")
print(data_p_2012[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2013#")
print(data_p_2013[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2014#")
print(data_p_2014[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))

#Data Pada 2012#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               12                12
mean            200779            423137
std              35301             31803
min             150203            376304
25%             184390            410436
50%             192115            420388
75%             213197            437530
max             264238            502725
#Data Pada 2013#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               12                12
mean            194505            194505
std              25802             25802
min             150203            150203
25%             187803            187803
50%             190126            190126
75%             194876            194876
max             264238            264238
#Data Pada 2014#
       PENUMPANG_MASUK  PENUMPANG_KELUAR
count               11                11
mean            191656            356727
std              45066             60234
min             124983            271615
25%             165772            324039
50%             179209            351936
75%             205343            369318
max             271335            507731

In [31]:
# import pandas as pd
df = pd.read_html('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20170812')
data = pd.DataFrame(df)
data.to_csv('test.csv', index=False)

In [39]:
pd.DataFrame(pd.read_html('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20170812')).to_csv('test.csv', index=False,header=False)
pd.read_csv('test.csv', delimiter = ', ""')

/home/makino/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

,""" Date Open* High Low Close** Volume \"
0,"0 Aug 12, 2017 3650.63 3949.92 3613.70 ..."
1,"1 Aug 11, 2017 3373.82 3679.72 3372.12 ..."
2,"2 Aug 10, 2017 3341.84 3453.45 3319.47 ..."
3,"3 Aug 09, 2017 3420.40 3422.76 3247.67 ..."
4,"4 Aug 08, 2017 3370.22 3484.85 3345.83 ..."
5,"5 Aug 07, 2017 3212.78 3397.68 3180.89 ..."
6,"6 Aug 06, 2017 3257.61 3293.29 3155.60 ..."
7,"7 Aug 05, 2017 2897.63 3290.01 2874.83 ..."
8,"8 Aug 04, 2017 2806.93 2899.33 2743.72 ..."
9,"9 Aug 03, 2017 2709.56 2813.31 2685.14 ..."
10,"10 Aug 02, 2017 2727.13 2762.53 2668.59 ..."
11,"11 Aug 01, 2017 2871.30 2921.35 2685.61 ..."
12,"12 Jul 31, 2017 2763.24 2889.62 2720.61 ..."
13,"13 Jul 30, 2017 2724.39 2758.53 2644.85 ..."
14,"14 Jul 29, 2017 2807.02 2808.76 2692.80 ..."
15,"15 Jul 28, 2017 2679.73 2897.45 2679.73 ..."
16,"16 Jul 27, 2017 2538.71 2693.32 2529.34 ..."
17,"17 Jul 26, 2017 2577.77 2610.76 2450.80 ..."
18,"18 Jul 25, 2017 2757.50 2768.08 2480.96 ..."
19,"19 Jul 24, 2017 2732.70 2777.26 2699.19 ..."
20,"20 Jul 23, 2017 2808.10 2832.18 2653.94 ..."
21,"21 Jul 22, 2017 2668.63 2862.42 2657.71 ..."
22,"22 Jul 21, 2017 2838.41 2838.41 2621.85 ..."
23,"23 Jul 20, 2017 2269.89 2900.70 2269.89 ..."
24,"24 Jul 19, 2017 2323.08 2397.17 2260.23 ..."
25,"25 Jul 18, 2017 2233.52 2387.61 2164.77 ..."
26,"26 Jul 17, 2017 1932.62 2230.49 1932.62 ..."
27,"27 Jul 16, 2017 1991.98 2058.77 1843.03 ..."
28,"28 Jul 15, 2017 2230.12 2231.14 1990.41 ..."
29,"29 Jul 14, 2017 2360.59 2363.25 2183.22 ..."
...,...
94,1539 1478029952
95,1540 1489949952
96,1541 1413299968
97,1542 1384780032
98,1543 1374130048
99,1544 1363939968
100,1545 1368909952
101,1546 1376370048
102,1547 1379139968
103,1548 1319590016
104,1549 1274620032
105,1550 1242759936
106,1551 1315719936
107,1552 1279980032
108,1553 1288630016
109,1554 1311049984
110,1555 1255970048
111,1556 1259980032
112,1557 1219449984
113,1558 1248470016
114,1559 1289469952
115,1560 1254759936
116,1561 1089890048
117,1562 1180070016
118,1563 1292189952
119,1564 1542819968
120,1565 1597779968
121,1566 1491160064
122,1567 1500519936
123,"[1568 rows x 7 columns]"""

                                                   0
0                Date    Open*     High      Low ...