In [48]:
#Didapatkan data okupasi penumpang bus di terminal leuwi panjang, saat ini akan dilakukan analisa trend ramai penumpang
#perilaku penumpang,
# initialization data
import pandas as pd
data_raw = pd.read_csv('DATA/LeuwiPanjang.csv', delimiter = ',', encoding = "ISO-8859-1")
data_raw

,NO,TAHUN,BULAN,BIS_MASUK,PENUMPANG_MASUK,BIS_KELUAR,PENUMPANG_KELUAR
0,1,2012,JANUARI,17265,261798,16632,437423
1,2,2012,FEBRUARI,15535,228857,15037,376304
2,3,2012,MARET,16773,194252,16636,401046
3,4,2012,APRIL,17042,184641,16697,424165
4,5,2012,MEI,17622,190451,17773,437853
5,6,2012,JUNI,16953,193779,17188,420327
6,7,2012,JULI,17279,189801,18291,439785
7,8,2012,AGUSTUS,18885,207978,19302,502725
8,9,2012,SEPTEMBER,18054,150203,17832,420449
9,10,2012,OKTOBER,16641,264238,16997,413567
10,11,2012,NOVEMBER,16231,183640,16094,387652
11,12,2012,DESEMBER,17432,159713,16632,416356
12,13,2013,JANUARI,15986,196749,15879,196749
13,14,2013,FEBRUARI,15057,188857,15036,188857
14,15,2013,MARET,17007,194252,16329,194252
15,16,2013,APRIL,15856,184641,15538,184641
16,17,2013,MEI,16597,190451,15939,190451
17,18,2013,JUNI,16498,193779,15814,193779
18,19,2013,JULI,16130,189801,15360,189801
19,20,2013,AGUSTUS,15951,207978,15855,207978
20,21,2013,SEPTEMBER,14874,150203,14760,150203
21,22,2013,OKTOBER,16099,264238,15840,264238
22,23,2013,NOVEMBER,15947,183640,15122,183640
23,24,2013,DESEMBER,15927,189472,15816,189472
24,25,2014,JANUARI,16119,165193,16107,360456
25,26,2014,FEBRUARI,15060,124983,15038,271615
26,27,2014,MARET,19267,271335,19211,368791
27,28,2014,APRIL,18952,215935,18846,351936
28,29,2014,MEI,17836,166352,17848,331768
29,30,2014,JUNI,18301,179209,18592,369846
30,31,2014,JULI,18023,194752,18298,349844
31,32,2014,AGUSTUS,18576,189643,18876,389203
32,33,2014,SEPTEMBER,17231,159496,17271,306500
33,34,2014,OKTOBER,18214,269139,18461,507731
34,35,2014,NOPEMBER,16198,172184,17256,316311

In [ ]:
Didapatkan data pada terminal leuwi panjang sebagai diatas. Akan dianalisa Tahun paling ramai, bulan paling 
ramai per tahun.

In [60]:
#PREPROCESSING (no longger needed)
# data_penumpang=data_raw.iloc[0:34]
# data_penumpang_pertahun = data_penumpang.groupby(['TAHUN','BULAN']).mean()
# data_penumpang_pertahun.sort_values('NO')

In [109]:
#PREPROCESSING
#EXTRACTING DATA
data_penumpang = data_penumpang_pertahun[['PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2012 = data_raw[data_raw.TAHUN == 2012][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2013 = data_raw[data_raw.TAHUN == 2013][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
data_p_2014 = data_raw[data_raw.TAHUN == 2014][['TAHUN','BULAN','PENUMPANG_MASUK','PENUMPANG_KELUAR']]
#Stat each year

print("#Data Pada 2012#")
print(data_p_2012[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2013#")
print(data_p_2013[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))
print("#Data Pada 2014#")
print(data_p_2014[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].describe().astype(int))

AttributeError: 'str' object has no attribute 'to_csv'

In [112]:
buffer = "TAHUN PENUMPANG_MASUK PENUMPANG_KELUAR"
buffer.to_csv("data_mean.csv", sep='\t', encoding='utf-8', index=False)

AttributeError: 'str' object has no attribute 'to_csv'

In [ ]:
Dari data tersebut terlihat ada lonjakan pola penumpang sebagai berikut

In [108]:
data_p_2013[['PENUMPANG_MASUK','PENUMPANG_KELUAR']].mean().astype(int)

PENUMPANG_MASUK     194505
PENUMPANG_KELUAR    194505
dtype: int64
PENUMPANG_MASUK     194505
PENUMPANG_KELUAR    194505
dtype: int64
PENUMPANG_MASUK     194505
PENUMPANG_KELUAR    194505
dtype: int64

In [96]:
# #Grafis data penumpang
# ax1 = data_p_2012
# ax1 = ax1.plot(kind='bar', title ="Data Penumpang Masuk/Keluar Terminal Leuwi Panjang", figsize=(15,3), legend=True, fontsize=12)
# ax1.xaxis = data_p_2012['BULAN']
# ax1.set_xlabel("BULAN", fontsize=12)
# ax1.set_ylabel("Penumpang", fontsize=12)

In [97]:
data_penumpang_perbulan = data_penumpang.groupby(['BULAN']).mean()
data_penumpang_perbulan.sort_values('NO')

ax1 = data_penumpang_perbulan
ax1 = ax1.plot(kind='line', title ="Data Penumpang Masuk/Keluar Terminal Leuwi Panjang", figsize=(15,3), legend=True, fontsize=12)
ax1.set_xlabel("BULAN", fontsize=12)
ax1.set_ylabel("BIS MASUK", fontsize=12)
ax1.set_ylabel("BIS KELUAR", fontsize=12)

KeyError: 'NO'

In [116]:
import pandas as pd
df = pd.read_html('https://coinmarketcap.com/currencies/bitcoin/historical-data/?start=20130428&end=20170812', index=False)
df[0].to_csv('test.csv')

TypeError: read_html() got an unexpected keyword argument 'index'