In [1]:
nilai = [30,40,50,60,70,80,90]
print(nilai)

[30, 40, 50, 60, 70, 80, 90]

In [2]:
# elemen ke 3 sampai ke 5
print(nilai[2:5])

# .... 
print(nilai[:-5])

# ....
print(nilai[5:])

# ...
print(nilai[:])

[50, 60, 70]
[30, 40]
[80, 90]
[30, 40, 50, 60, 70, 80, 90]

In [3]:
print(nilai[-5:])

[50, 60, 70, 80, 90]

In [11]:
for n in nilai:
    print(n)
    
#looping mengikuti indeksnya
for i,n in enumerate(nilai):
    print(i,n)
    
#looping menggunakan range
for x in range(0,len(nilai)):
    print(x,nilai[x])
    
#len() untuk mengukur panjang list
#range() untuk membuat urutan angka

30
40
50
60
70
80
90
0 30
1 40
2 50
3 60
4 70
5 80
6 90
0 30
1 40
2 50
3 60
4 70
5 80
6 90

In [5]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [6]:
for x in range(6):
  print(x)\

0
1
2
3
4
5

In [28]:
total = 0
for n in nilai:
    total=total+n
    #total += n
rata = total/len(nilai)
print(rata)

60.0

In [19]:
#enumerate()
my_list = ['apple', 'banana', 'grapes', 'pear']
for c, value in enumerate(my_list, 1): #or for c, value in enumerate(my_list):
    print(c,value)

1 apple
2 banana
3 grapes
4 pear

In [26]:
n=5
if n in nilai:
    print(n,"ada nilainya")
else:
    print(n,"tidak ada bos")

5 tidak ada bos

In [27]:
print(nilai)

[30, 40, 50, 60, 70, 80, 90]

In [40]:
#latihan 1 tampilkan nilai dari list yang lebih dari sama dengan (>=) rata-ratanya4
total = 0
for n in nilai:
    total += n
    
mean_nilai = total/len(nilai)

#classifying
for n in nilai:
    if n >= mean_nilai:
        print(n,"=> ada di dalam list")
    else:
        print(n,"nilai ini tidak ada didalam list")

30 nilai ini tidak ada didalam list
40 nilai ini tidak ada didalam list
50 nilai ini tidak ada didalam list
60 => ada di dalam list
70 => ada di dalam list
80 => ada di dalam list
90 => ada di dalam list

In [41]:
# Deklarasi Tuple
# Tuple cannot to be modified by user. faster to read than list
# for example for dictionary
bulan = ("Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember")
print(bulan)

('Januari', 'Februari', 'Maret', 'April', 'Mei', 'Juni', 'Juli', 'Agustus', 'September', 'Oktober', 'November', 'Desember')

In [51]:
#Dictionary
#untuk map reduce(?)
siswa = {'Nama': 'Surti', 'Umur': 7, 'JenisKelamin': 'Ceue'}
siswa2 = {'Nama': 'Tejo', 'Umur': 100, 'JenisKelamin': 'Laki-Laki'}
#print(siswa)
#print(siswa['Nama'])
#print(siswa['Umur'])
#print(siswa['JenisKelamin'])

#save data of siswa and siswa2 to list_siswa array to make easiest way to call siswa and siswa2 as list_siswa[0] or list_siswa[1]
list_siswa = []
list_siswa.append(siswa)
list_siswa.append(siswa2)
print(list_siswa[0])

{'Nama': 'Surti', 'Umur': 7, 'JenisKelamin': 'Ceue'}

In [52]:
#to change dictionary variable
print(siswa)
siswa['Nama'] = 'ndoli'
print(siswa)

{'Nama': 'Surti', 'Umur': 7, 'JenisKelamin': 'Ceue'}
{'Nama': 'ndoli', 'Umur': 7, 'JenisKelamin': 'Ceue'}

In [56]:
#add element
siswa['alamat'] = "Jl. pinggir no 1"
print(siswa)
siswa['nilai'] = nilai
print(siswa)

{'Nama': 'ndoli', 'Umur': 7, 'JenisKelamin': 'Ceue', 'alamat': 'Jl. pinggir no 1', 'nilai': [30, 40, 50, 60, 70, 80, 90]}
{'Nama': 'ndoli', 'Umur': 7, 'JenisKelamin': 'Ceue', 'alamat': 'Jl. pinggir no 1', 'nilai': [30, 40, 50, 60, 70, 80, 90]}

In [58]:
#call dictionary 'nilai' list for ndoli

for n in siswa["nilai"]:
    print(n)

30
40
50
60
70
80
90

In [64]:
#look the siswa list
for k,v in siswa.items():
    print(k,v)
print("=========or==========")
#or call all of them
for l in list_siswa:
    for k,v in siswa.items():
        print(k,v)

Nama ndoli
Umur 7
JenisKelamin Ceue
alamat Jl. pinggir no 1
nilai [30, 40, 50, 60, 70, 80, 90]
=========or==========
Nama ndoli
Umur 7
JenisKelamin Ceue
alamat Jl. pinggir no 1
nilai [30, 40, 50, 60, 70, 80, 90]
Nama ndoli
Umur 7
JenisKelamin Ceue
alamat Jl. pinggir no 1
nilai [30, 40, 50, 60, 70, 80, 90]

In [71]:
#operasi string
#slicing

nama = "jelek .jele anunya. jele"
print(nama[0:7])
print(nama[5:15])

jelek .
 .jele anu

In [68]:
#slicing all of words
for m in nama:
    print(m)

j
e
l
e
k

j
e
l
e

a
n
u
n
y
a

j
e
l
e

In [73]:
kata = nama.split()
print(kata)
print(kata[0])
print(kata[1])
print("==============")

#or splitting like this
titik = nama.split(".")
print(titik)
print(titik[0])
print(titik[1])
#this is using dot . as spitter

['jelek', '.jele', 'anunya.', 'jele']
jelek
.jele
==============
['jelek ', 'jele anunya', ' jele']
jelek
jele anunya